body{
    font-size: 16px;
    line-height: 28px;
    font-family:'Manrope', sans-serif;
    font-weight: normal;
    color: #9898A7;
}
h1,h2,h3,h4,h5,h5{
    color: #060640;
}
h1{
    font-size: 45px;
    line-height: 55px ;
    font-weight: 700;
}
h2{
    font-size: 24px;
    line-height: 34px;
}
h3{
    font-size: 20px;
    line-height: 28px;
}
a{
    color:#828297;
    text-decoration:none;
}
p{
    color: #9898A7;
}
ul, ol{
    padding: 0;
    margin: 0;
    list-style: none;
}
.sky-blue, .banners .top-nav-bar .nav-link:hover,.banners .top-nav-bar .nav-link.active{
    color:#00E5CC;
}
.banners{
    background: #ECF9FF;
    padding-top: 50px;
    padding-bottom: 100px;
}
.top-nav-bar{
    border-radius: 8px;
    background: white;
    padding: 22px;
}
.banners .navbar-brand{
    color:#060640;
    font-size: 30px;
    font-weight: 700;
}
.banners .top-nav-bar .nav-item{
    font-size: 14px;
    font-family: 500;
    color:#828297;
}
.black{
    color: black;
}
.text-sixe{
    font-size: 14px;
    font-weight: 500;
}
.blue-btn,.blue-btn:hover{
    background-color: #060640;
    color: white;
    line-height: 15px;
    font-weight: 500;
    padding: 20px 30px;
}
/* -----top banner section starts from here----- */
.banners .top-banners{
    margin-top: 30px;
    
}
.banners .top-banners h1{
    padding-top:20px ;
    margin-top: 50px;
    font-size: 50px;
    line-height: 65px;
    font-weight: bold;
    margin-bottom: 20px ;
}
.banner-btns{
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
}
.give-space{
    margin-left: 10px;
}
.rating{
    align-items: center;
}
 .testimonials{
    margin-top: 50px;
    background: white;
    border-radius: 8px;
    padding: 23px 21px;
    
}
/* .card{
    padding: 20px 30px;
    height: 100%; */

.quote{
    display: flex;
    justify-content: space-between;
}
/--section how it works start from here-----/
.p-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section-text{
    margin-bottom: 70px;
}

 .how-it-works .card-icon{
    padding: 15px;
    background: #ECF9FF;
    border-radius:8px;
    width: 75px ;
    height: 75px;
    margin-top: 30px;
    margin-left: 30px;
} 
.how-it-works .card-body{
    margin-top:50px;}

/* .how-it-works .card .img-fluid{
    width: 40px;
    height: 40px;
    background-color:#ECF9FF ;
    margin-bottom: 50px;
    border-radius: 8px;
}  */

@media (max-width:768px) {
    .how-it-works .card{
        padding-bottom: 20px;
    }
    
}
/* ---ABOUT US CSS STARTS HERE---- */

.about-us .img-icon{
    background: #ECF9FF;
    padding: 15px;
    border-radius: 8px;
    margin-right: 10px;
   height: 60px;
   width:60PX;

}
/* SECTION POPLULAR PAKAGES CSS STARST FROM HERE */
.pakages{
    background: #ECF9FF;
    padding-top: 100px;
    padding-bottom: 110px;
}
.pakages .card{
     margin-top: 50px;
    padding: 20px 30px;
    background: #ECF9FF;
    border-color: white;
}
.pakages h3{
margin-top: 20px;
}

.pakages .card:hover{
   background-color: white;
}
/* .pakages .card .reting{
    width: 84px;
    height: 60px;
    margin-left: 0;
} */
/* .pakages .card .group{
display: flex;
justify-content: space-between;
} *Thank you for your business! We look forward to working with you again.